<a href="https://colab.research.google.com/github/kitkit922/Machine_Learning_1/blob/main/Assign01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 01

## There are four questions in this Assignment. Run the code and explain what each cell of code is doing. You can add more cells when needed. Write your name and ID. Double click on the student name and ID to write your name and ID.

# Student Name : Tsz Kit Cheung

# Student ID : N01555831

In [ ]:
#Tsz Kit Cheung N01555831

In [ ]:
import pandas as pd
import numpy as np

# Q # 1

# Run the program and explain what each step of program is doing ?

In [ ]:
n = 5
k = 0
for i in range(n):
    for j in range(n-k):
        print(n-k, end = " ")
    print(' ')
    k = k + 1

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
n = 5 #assign a variable n
k = 0 #assign a variable k
for i in range(n): #for loop, loop for n times, i will start from 0 and end with n-1, increment of i is 1 every loop
    for j in range(n-k): #for loop, loop for n-k times, j will start from 0 and end with n-k-1, increment of j is 1 every loop
        print(n-k, end = " ") #print the value of n-k, end = " " can create a space and not go to the next line
    print(' ') #go to the next line
    k = k + 1 # every big loop, k increse by 1

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

# Q # 2

#  Explain what each coding cell is generating ?

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9] #a list with 1-9 integers
even = [] #assign a empty list 'even'
odd = []  #assign a empty list 'odd'

In [ ]:
for num in numbers: #for loop, loops over each integers in the list 'numbers'
    if num % 2 == 0: #if the number in list 'numbers' is even, list 'even' will append the number
        even.append(num)
    else:
        odd.append(num) #if the number in list 'numbers' is odd, list 'odd' will append the number
print(even)
print(odd)

[2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [ ]:
print("Numbers of even numbers : {}".format(len(even))) # print out a string and the number of terms in list 'even'
print("Numbers of odd numbers : {}".format(len(odd))) # print out a string and the number of terms in list 'odd'

Numbers of even numbers : 4
Numbers of odd numbers : 5

# Q # 3

# Explain what each step of code is doing.

In [ ]:
for x in range(2,100): #for loop, loop for 98 times, x will start from 2 and end with 99, increment of x is 1 every loop
   a = 0 #assign a variable a, the value of a will be 0 after running a outer loop
   for y in range(2,100): #for loop, loop for 98 times, y will start from 2 and end with 99, increment of y is 1 every loop
        if (x % y) == 0.0: #if x is fully divisible by y, variable a increase by 1
         a = a + 1
   if a == 1: # if the value of a is 1, print out variable x
     print(x)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Q # 4

# By running a code below, you will get the df. Remove the rows of df containg "NaN" or " ? " .

In [ ]:
df = pd.DataFrame({"name":["William","Emma","Sofia","Markus","Edward","Thomas","Ethan","Olivia","Arun","Anika","Paulo"]
,"region":["East",np.nan,"East","South","West","West","South","West","West","East","South"]
,"sales":[50000,52000,90000,np.nan,42000,72000,49000,np.nan,67000,65000,67000]
,"expenses":[42000,43000,np.nan,44000,38000,39000,42000,np.nan,39000,44000,45000]
,"lossValues":[12000,'?','?',np.nan,11000,33000,44000,10000,22000,30000,99000]})

In [ ]:
df.replace(to_replace ='?', value = np.nan, inplace = True)
df.isnull()
df.dropna()

       name region    sales  expenses  lossValues
0   William   East  50000.0   42000.0     12000.0
4    Edward   West  42000.0   38000.0     11000.0
5    Thomas   West  72000.0   39000.0     33000.0
6     Ethan  South  49000.0   42000.0     44000.0
8      Arun   West  67000.0   39000.0     22000.0
9     Anika   East  65000.0   44000.0     30000.0
10    Paulo  South  67000.0   45000.0     99000.0